# Node
node_modules/
.next/
out/

# Python
env/
venv/
.venv/

# Cache
__pycache__/
*.pyc

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Heavy assets
public/images/
public/videodemos/

# Logs
*.log